# Logging level: trace|debug|info|warn|error
MICRO_LOG_LEVEL=info

MICRO_REGISTRY=consul
MICRO_REGISTRY_ADDRESS=127.0.0.1:8500

MICRO_BROKER=rabbitmq
MICRO_BROKER_ADDRESS=amqp://user:pass@127.0.0.1:5672

WEBITEL_DBO_ADDRESS=postgres://user:pass@127.0.0.1:5432/webitel?sslmode=disable&connect_timeout=5
#WEBITEL_DBO_MAX_OPEN_CONNS=25
#WEBITEL_DBO_MAX_IDLE_CONNS=25
#WEBITEL_DBO_CONN_MAX_IDLE_TIME=1m
#WEBITEL_DBO_CONN_MAX_LIFETIME=5m

# gRPC service listen address (host:port; :0 = random port)
MICRO_SERVICE_ADDRESS=127.0.0.1:0

# Bind address for the HTTP server
WEBITEL_BOT_ADDRESS=127.0.0.1:10030
# Public HTTP site URL used when registering webhooks with BOT providers
WEBITEL_BOT_PROXY=https://example.org/chat
# Base folder where website additional assets are located
WEBITEL_BOT_WEB_ROOT=/usr/share/webitel/webitel-messages-bot/public-html
